body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #121212;
    opacity: 0.9;
    color: rgba(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: 0%;
}
img{
    float: right;
}

#naglowek{
    margin: 0px;
    width: 100%;
    background-color: #202020;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.linki_naglowek{
    text-decoration: none;
    color: white;
    margin: 10px;
    text-align: center;
}
h3{
    color: orange;
    text-align: left;
}
blockquote{
    text-align: left;
    letter-spacing: 3px;
    font-weight:lighter;
}

#naglowek > a:hover{
    opacity: 70%;
}

#container{
    max-width: 1500px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    min-height: 80% ;
}

footer{
    margin: 0px;
    width: 100%;
    background-color: #202020;
    text-align: center;
    padding: 15px;
    color: white;
    bottom: 0;
}

.scrollup{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("Images/up.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
}